section#about-anchor.about
  h2 About Me
  p
    | I'm Mike, a front-end developer & designer. I studied Digital Media at Edinburgh Napier University and gratuated in 2010. I have lived in London, Edinburgh, Australia and I'm currently back at home in Dublin, Ireland. I have been self employed for a number of years and during that time I provided small to medium businesses with print and interactive solutions. In 2015 I started working for Nettl as a Brand Stylist. In my free time I like to watch Boxing, annoy my kitten and design posts for my blog.
  .social-container
    .social-icon
      a.fa(ng-repeat='social in social', class='{{social.fa}} {{social.color}}', href='{{social.url}}', target='_blank')
        span {{social.color}}
