footer
  h5
    | Built with 
    a(href='https://angularjs.org/', target='_blank') Angular
    | , fueled by late nights & beer. 
    a(href='https://github.com/mike-griffin87/portfolio-redesign-2016', target='_blank') View source.
