footer
  h5
    | Built with 
    a(href='https://angularjs.org/', target='_blank') Angular
    |, 
    a(href='http://jade-lang.com/', target='_blank') Jade
    |  & 
    a(href='http://sass-lang.com/', target='_blank') Sass
    |. Fueled by late nights, pizza & beer. 
    a(href='https://github.com/mike-griffin87/portfolio-redesign-2016', target='_blank') View source.
