footer#contact-anchor.footer
  .red-slant
    .footer-content
      .btn.email-btn Email me
    h5
      | Built with 
      a(href='https://angularjs.org/', target='_blank') angular
      | , fueled by late nights & beer. 
      a(href='https://github.com/mike-griffin87/portfolio-redesign-2016', target='_blank') View source.
