section.hero
  .hero-heading-container
    header
      h1
        span.designer-h1 Designer
        span.header-and and
        | Developer
      p Hi, I'm Mike, a UI/UX designer.
      .btn.work-trigger(animate-scroll='', scroll-to='work-anchor') See My Work
