.nav-container
  .hamburger(ng-click='showNav = !showNav', ng-class="{'nav-is-open' : showNav}")
    .top-bar(ng-class="{'nav-is-open' : showNav}")
    span(ng-class="{'nav-is-open' : showNav}") MENU
    .bottom-bar(ng-class="{'nav-is-open' : showNav}")

  nav.main-nav(ng-class='{isShowing : showNav}')
    ul
      li
        a(ng-click="go('/')" , href='#') Home
      li
        a(ng-click="goToSection('#work-anchor')" , href='#') Work
      li
        a(ng-click="goToSection('#about-anchor')", href='#') About
      li
        a(href="mailto:michaelgriffin87@me.com?subject=Website Contact Form 😎&body=Hello there, I was browsing your website and ...") Contact
