.nav-container
  .hamburger-menu(ng-click='showNav = !showNav', ng-class="{'nav-is-open' : showNav}")
    span
  nav.main-nav(ng-class='{isShowing : showNav}')
    ul
      li
        a(animate-scroll='', scroll-to='http://localhost:3000/work-anchor', href='#') Work
      li
        a(href='#about-anchor') About 
      li
        a(href='#') Contact
