section#work-anchor.work-container
  .work-item(ng-repeat='workItem in workItems', ng-mouseenter='workItemHover(workItem)', ng-mouseleave='workItem.bgColor = {}', class='{{workItem.class}}')
    span.overlay(ng-style='workItem.bgColor')
    h2 {{workItem.client}}
    h4 {{workItem.role}}
    .btn.case-study-btn {{workItem.btnText}}
