.top-slant
section.case-study-header
  h1 {{cs[params.caseStudyId].title}}
  img(src='{{cs[0].titleImage}}')
  h2.red {{cs[0].role}}

section.case-study-challenge
  h2.red Challenge
  p {{cs[0].challengeText}}

section.case-study-process.parallax(class="{{cs[0].parallax}}")
  .it-begins-on-paper
    h2 {{cs[0].processHeading}}
    .p-container
      p {{cs[0].processText}}

.userflow
  .col-50
    img(src='{{cs[0].processLeftImg}}')
    p.caption {{cs[0].processLeftImgCaption}}
  .col-50
    img(src='{{cs[0].processRightImg}}')
    p.caption {{cs[0].processRightImgCaption}}

section
  .build-text-container
    h2.red {{cs[0].buildProcessHeading}}
    p  {{cs[0].buildProcessText}}
.build-process
  .build-process-image-container
    img.left-image(src='{{cs[0].buildProcessLeftImg}}')
    img.right-image(src='{{cs[0].buildProcessRightImg}}')


section.conclusion
  .col-50
    h2.red {{cs[0].conclusionHeading}}
    p  {{cs[0].conclusionText}}
  .col-50
    img(src='{{cs[0].conclusionImg}}')


section.case-study-footer
  .amorae-footer-image-container
    img.footer-desktop(src='{{cs[0].footerDesktopImg}}')
    img.footer-iphone(src='{{cs[0].footerPhoneImg}}')
    img.footer-ipad(src='{{cs[0].footerIpadImg}}')
  .next-prev-buttons
    .btn Previous Project
    .btn Next Project
