.work-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  overflow: hidden

.work-item
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 1rem
  width: 33.333%
  height: 20rem
  max-height: 50vh
  transition: all .25s ease-in-out
  position: relative
  cursor: pointer

  @media screen and (max-width: 600px)
    border-bottom: 4px solid white
    .overlay
      background: rgba(black, .75)

  &:hover .overlay,
    background: rgba($red, .9)
  &:hover h2,
  &:hover h4,
  &:hover .case-study-btn
    transform: translate(0%, 0%)
    opacity: 1
    visibility: visible


  h2, h4,
    transition: .25s ease-in-out
    z-index: 2
    text-transform: uppercase
    position: relative
    opacity: 0
    visibility: hidden

  h2
    transform: translateX(150px)
    margin: .5rem 0
    font:
      size: .8rem

    @media screen and (max-width: 600px)
      transform: translate(0%, 0%)
      opacity: 1
      visibility: visible

  h4
    transform: translateX(-150px)
    font:
      weight: 500

    @media screen and (max-width: 600px)
      transform: translate(0%, 0%)
      opacity: 1
      visibility: visible

  & .case-study-btn
    transform: translateY(150px)
    cursor: pointer
    z-index: 2
    opacity: 0
    margin: 1rem 0
    visibility: hidden

    @media screen and (max-width: 600px)
      transform: translate(0%, 0%)
      opacity: 1
      visibility: visible

  @media screen and (max-width: 975px)
    width: 50%

  @media screen and (max-width: 600px)
    width: 100%

  .overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    cursor: pointer
    z-index: 1
    transition: all .1s ease-in-out

@for $i from 1 through 6
  .work-item-#{$i}
    background:
      image: url('img/work-thumb-#{$i}.jpg')
      size: cover
      position: center center
